<div class="menu">
      <div class="colunm">
    <a href="/homestaff">Voltar</a>
    <a href="/logout">Sair</a>
    </div>
    </div>    
    <img class="sandbar" src="/img/menu.png"/>  
<nav class="navbar second">
  <div class="nav-itens">
    <a href="/homestaff">Voltar</a>
    <a href="/logout">Sair</a>
  </div>
</nav>
<div id="agendar">
<form action="/editcliente" method="POST">
<details>
    <summary><i class="bi bi-arrow-down-circle-fill active"></i> <i class="bi bi-arrow-up-circle-fill inactive"></i> Editar Dados</summary> 
    <div class="row">
      <div class="col-md-3">
    <label for="cpf" class="form-label">CPF: </label>
    <input type="text" name="cpf" class="form-control" value="{{tblclientes.cpf}}">
  </div>
  <div class="col-md-5">
    <label for="nome" class="form-label">Nome: </label>
    <input type="text" name="nome" class="form-control" value="{{tblclientes.nome}}">
  </div>
  <div class="col-md-1">
    <label for="idade" class="form-label">Idade: </label>
    <input type="text" name="idade" class="form-control" value="{{tblclientes.idade}}">
  </div>
  <div class="col-md-3">
    <label for="contato" class="form-label">Contato: </label>
    <input type="text" name="contato" class="form-control" value="{{tblclientes.contato}}">
  </div>
  <div class="col-md-6">
    <label for="end" class="form-label">Endereço: </label>
    <input type="text" name="end" class="form-control" value="{{tblclientes.end}}">
  </div>
   <div class="col-md-3">
    <label for="bairro" class="form-label">Bairro: </label>
    <input type="text" name="bairro" class="form-control" value="{{tblclientes.bairro}}">
  </div>
   <div class="col-md-3">
    <label for="cidade" class="form-label">Cidade: </label>
    <input type="text" name="cidade" class="form-control" value="{{tblclientes.cidade}}">
  </div>
  </div>
  </details>


  <details>
     <summary><i class="bi bi-arrow-down-circle-fill active"></i> <i class="bi bi-arrow-up-circle-fill inactive"></i> Consultar Ficha de Anamnese</summary>
    <div class="row">
      <div class="col-md-12">
        <label for="queixa" class="form-label">Queixa Principal: </label>
        <h5>{{tblclientes.queixa}}</h5>
      </div>
       <div class="col-md-2">
        <label for="trombose" class="form-label mt-2">Trombose: </label>
          <h5>{{tblclientes.trombose}}</h5>
      </div>
      <div class="col-md-2">
        <label for="hipotenso" class="form-label mt-2">Hipotenso: </label>
          <h5>{{tblclientes.hipotenso}}</h5>
      </div>
      <div class="col-md-2">
        <label for="hipertenso" class="form-label mt-2">Hipertenso: </label>
          <h5>{{tblclientes.hipertenso}}</h5>
      </div>
      <div class="col-md-2">
         <label for="tontura" class="form-label mt-2">Tontura: </label>
        <h5>{{tblclientes.tontura}}</h5>
      </div>
      <div class="col-md-2">
        <label for="diabetico" class="form-label mt-2">Diabético: </label>
        <h5>{{tblclientes.diabetico}}</h5>
      </div>
      <div class="col-md-2">
        <label for="alimentou" class="form-label mt-2">Alimentou-se: </label>
        <h5>{{tblclientes.alimentou}}</h5>
      </div>
      <div class="col-md-2">
        <label for="atividade" class="form-label mt-2">Atividade Física: </label>
        <h5>{{tblclientes.atividade}}</h5>
      </div>
      <div class="col-md-2">
        <label for="fumante" class="form-label mt-2">Fumante: </label>
        <h5>{{tblclientes.fumante}}</h5>
      </div>
      <div class="col-md-2">
        <label for="ciclo" class="form-label mt-2">Ciclo Menstrual: </label>
        <h5>{{tblclientes.ciclo}}</h5>
      </div>
      <div class="col-md-2">
        <label for="osteoporose" class="form-label mt-2">Osteoporose: </label>
        <h5>{{tblclientes.osteoporose}}</h5>
      </div>
        <div class="col-md-2">
        <label for="infeccao" class="form-label mt-2">Infecção: </label>
        <h5>{{tblclientes.infeccao}}</h5>
      </div>  
      <div class="col-md-2">
        <label for="marcapasso" class="form-label mt-2">Marca Passo: </label>
        <h5>{{tblclientes.marcapasso}}</h5>
      </div>  
      <div class="col-md-2">
        <label for="alergia" class="form-label mt-2">Alergia: </label>
        <h5>{{tblclientes.alergia}}</h5>
      </div>  
      <div class="col-md-2">
        <label for="protese" class="form-label mt-2">Prótese: </label>
        <h5>{{tblclientes.protese}}</h5>
      </div>  
      <div class="col-md-2">
        <label for="lesoes" class="form-label mt-2">Lesões: </label>
        <h5>{{tblclientes.queixa}}</h5>
      </div>  
      <div class="col-md-2">
        <label for="botox" class="form-label mt-2">Botox: </label>
        <h5>{{tblclientes.botox}}</h5>
      </div>  
      <div class="col-md-2">
        <label for="cirurgia" class="form-label mt-2">Cirurgia: </label>
        <h5>{{tblclientes.cirurgia}}</h5>
      </div>  
      <div class="col-md-2">
        <label for="epiletico" class="form-label mt-2">Epilético: </label>
        <h5>{{tblclientes.epiletico}}</h5>
      </div>  
      <div class="col-md-12">
        <label for="historico" class="form-label mt-2">Histórico Familiar: </label>
        <h5>{{tblclientes.historico}}</h5>
      </div>
      <div class="col-md-12">
        <label for="endocrino" class="form-label mt-2">Sistema Endócrino: </label>
        <h5>{{tblclientes.endocrino}}</h5>
      </div>
      <div class="col-md-12">
        <label for="respiratorio" class="form-label mt-2">Sistema Respiratório: </label>
        <h5>{{tblclientes.respiratorio}}</h5>
      </div>
      <div class="col-md-12">
        <label for="circulatorio" class="form-label mt-2">Sistema Circulatório/Cardíaco: </label>
      </div>
        <div class="col-md-6">
        <label for="varizes" class="form-label">Varizes: </label>
        <h5>{{tblclientes.varizes}}</h5>
      </div>
      <div class="col-md-6">
        <label for="cardiopatia" class="form-label">Cardiopatia: </label>
        <h5>{{tblclientes.cardiopatia}}</h5>
      </div>
      <div class="col-md-12">
        <label for="gastro" class="form-label mt-2">Sistema Gastrointestinal: </label>
      </div>
      <div class="col-md-4">
        <label for="refluxo" class="form-label">Refluxo: </label>
        <h5>{{tblclientes.refluxo}}</h5>
      </div>  
      <div class="col-md-4">
        <label for="constipacao" class="form-label mt-2">Constipação Intestinal: </label>
        <h5>{{tblclientes.constipacao}}</h5>
      </div>  
      <div class="col-md-4">
        <label for="gastrite" class="form-label mt-2">Gastrite: </label>
        <h5>{{tblclientes.gastrite}}</h5>
      </div>  
      <div class="col-md-12">
        <label for="urinario" class="form-label mt-2">Sistema Urinário: </label>
        <h5>{{tblclientes.urinario}}</h5>
      </div>
      <div class="col-md-12">
        <label for="muscular" class="form-label mt-2">Sistema Esquelético/Muscular: </label>
        <h5>{{tblclientes.muscular}}</h5>
      </div>
      <div class="col-md-12">
        <label for="pergunta" class="form-label mt-2">Existe alguma pergunta que não foi feita e você gostaria de relatar?</label>
        <h5>{{tblclientes.pergunta}}</h5>
      </div>
    </div>
  </details>
  <input type="submit" class="btn" value="Atualizar">
  </form>
</div>
